# Core Machine Learning & Deep Learning
torch
torchvision
scikit-learn
joblib

# Data Processing
numpy
pandas
pillow

# Forensic Image Analysis
opencv-python-headless

# Web Application API & Server
fastapi
uvicorn
python-multipart

# PDF Handling
pdf2image

# Testing & Client Requests
requests
